@font-face {
    font-family: 'MyWebFont';
    src: url('20451.ttf');
}

body {
    background-image: url(skate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: MyWebFont, sans-serif;
    font-size: 10px;

}


header {
    width: 96%;
    margin-left: 2%;
    background: #9a2c2c;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
}

a {
    text-decoration: none!important;
    color: black!important;
}

.header__a{
    margin-left: 20px;
    font-size: 50px;

}

.form {
    width: 70%;
    position: relative;
    top: 50px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    background-color: #1d1d21;
    border: 2px solid white;
    border-radius: 10px;
    opacity: 0.8;
}

.form__div {
    padding: 10%;
    color: #adb5bd;
}

.form__button, .nav__button {
    border: 2px solid white;
    border-radius: 5px;
    background: white;
}

.form__button {
    margin-top: 5px;
}

.nav__button {
    margin-right: 20px;
}

.news {
    display: none;
}

label {
    margin-bottom: 5px;
}

span {
    font-size: 12px;
}
form p {
    display: flex;
    flex-direction: column;
}
