{% extends 'h_work_15/base.html' %}

{% block title %}
  Регистрация нового пользователя
{% endblock %}

{% block main %}
  <form class="form" method="post">
    <div class="form__div">
      <h2 class="">Страница регистрации</h2>

      {% csrf_token %}
      {{ form.as_p }}
      <button class="form__button" type="submit">Зарегистрироваться</button>

    <hr class="">
    <a href="{% url 'user' %}"><button class="form__button" type="submit">Уже зарегистрированы?</button></a>
    </div>
  </form>
{% endblock %}
