{% extends 'h_work_15/base.html' %}

{% block title %}
  Авторизация
{% endblock %}

{% block main %}
  <form class="form" method="post">
    <div class="form__div">
      <h2 class="">@{{ user.username }}</h2>

      {% csrf_token %}
      {{ form.as_p }}
      <button class="form__button" type="submit">Войти</button>

    <hr class="">
    <a href="{% url 'pass-reset' %}"><button class="form__button" type="submit">Забыли пароль?</button></a>
      <div class="work">
        {% for item in profile %}
        {{ item.slug }}
        {% endfor %}

      </div>

    </div>
  </form>
{% endblock %}
