{% extends 'h_work_15/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}

<form class="form">
  <div class="form__div">
    <h2 class="">Последние комментарии</h2>
    {% for post in comment %}
    <strong class="">{{ post.post }}</strong>
    <hr>
    <p>{{ post.body }}</p>
    {% endfor %}
    <a href="{% url 'news' %}" class="form__button">Вернуться к статьям</a>
    <a href="{% url 'comment' %}" class="form__button">Написать комментарий</a>
  </div>
</form>
{% endblock %}
