{% extends 'h_work_15/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}

<form class="form">
  <div class="form__div">
    <h2 class="">Новости</h2>
    <h3 class="">{{ object.title }}</h3>
    <hr>
    <p>{{ object.text|striptags }}</p>
      <p>Автор: <a href="{% url 'user-news' object.autor %}">{{ object.autor }}</a></p>
      <p>Дата: <b>{{ object.date|date:"d E Y в H:i" }}</b></p>
    <a href="{% url 'news-add' %}" class="form__button">Добавить статью</a>
    <a href="{% url 'comment' %}" class="form__button">Написать комментарий</a>
  </div>
</form>
{% endblock %}
