{% extends 'h_work_15/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}

  <form class="form">

    <div class="form__div">
      <h2 class="">Новости</h2>
      {% for post in news %}
        <h3 class="">{{ post.title }}</h3>
        <hr>
        <p>{{ post.text|striptags|truncatechars:200 }}</p>
        <div class="">
          <p>Автор: <a href="{% url 'user-news' post.autor %}">{{ post.autor }}</a></p>
          <p>Дата: <b>{{ post.date|date:"d E Y в H:i" }}</b></p>
        </div>
        <hr class="">
        <a href="{% url 'news-detail' post.id %}" class="">Читать далее</a>
      {% endfor %}
        <br>
        {% if page_obj.has_previous %}
        <a href="?page=1" class="form__button">&laquo; Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="form__button">Предыдущая</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
        <a class="form__button">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="form__button">{{ num }}</a>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="form__button">Следущая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="form__button">Конец &raquo;</a>
        {% endif %}
    </div>

    <a href="{% url 'news-add' %}" class="form__button">Добавить статью</a>

    <br>
</form>
{% endblock %}
