{% extends 'h_work_15/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}
  <form class="form" method="post">
    <div class="form__div">
      <h2 class="">{{ title }}</h2>

      {% csrf_token %}
      {{ form.as_p }}
      <button class="form__button" type="submit">{{ btn_text }}</button>

      <hr class="mt-4">
    <!-- <a href="{% url 'user' %}"><button class="btn btn-primary ms-2" type="submit">Уже зарегистрированы?</button></a> -->
    </div>
  </form>
{% endblock %}
