{% extends 'h_work_15/base.html' %}

{% block title %}
  Удаление статьи
{% endblock %}

{% block main %}
  <form class="form" method="post">
    <div class="form__div">
      <h2 class="">Вы точно хотите удалить статью {{ object.title }}</h2>

      {% csrf_token %}
      <button class="form__button" type="submit">Да, удалить</button>
      <a href="{% url 'news-detail' object.id %}" class="form__button">Нет, отмена</a>
      <hr class="">
    <!-- <a href="{% url 'user' %}"><button class="btn btn-primary ms-2" type="submit">Уже зарегистрированы?</button></a> -->
    </div>
  </form>
{% endblock %}
